---
import ExpertiseCard from "./ExpertiseCard.astro";
---

<section>
  <article class="flex flex-col gap-12">
    <section class="flex flex-col gap-4">
      <h1 class="text-lg text-gray-500">About Me</h1>
      <h2 class="text-4xl">Let's break the ice</h2>
      <section class="text-base leading-7">
        <p>
          Hi, I’m Gaurav Kumar Karki, a Software Engineer based in Melbourne,
          Victoria. With a passion for solving real-world challenges through
          technology, I specialize in crafting scalable, high-performance
          applications using modern frameworks and tools. My journey spans
          full-stack web development, cloud infrastructure, and innovative
          system design.
        </p>
      </section>
    </section>
    <section>
      <h2 class="text-3xl">My Expertise</h2>
      <ExpertiseCard />
    </section>
  </article>
</section>
