---
import Layout from "../layout/layout.astro";
import HeroSection from "../components/Index/HeroSection.astro";
import AboutSection from "../components/About/AboutSection.astro";
---

<Layout>
  <section class="flex flex-col gap-12 max-w-[1280px] mx-auto text-5xl text-textBlack px-4">
	<HeroSection/>
  <AboutSection/>
  </section>
</Layout>
