<section class="text-base">
    <article class="flex flex-col gap-2">
        <h1 class="text-2xl font-semibold">Un-Masking Myself</h1>
        <p>
            I am Gaurav Kumar Karki, born and raised in Nepal but currently based in Melbourne, Australia.
        </p>
    </article>
</section>