<article
  class="flex flex-col gap-6 self-center text-center text-textBlack md:min-h-[90vh] h-[550px] justify-center w-fit"
>
  <h2 class="text-lg text-gray-500">
    Hi, I am <span class="text-textTeal">Gaurav Kumar Karki</span>
  </h2>
  <h1 class="text-8xl font-semibold">A Software Engineer</h1>
  <section class="text-center text-lg py-4 w-full flex flex-col gap-6">
    <span class="flex flex-col gap-2">
      <span
        >I build <strong class="text-textTeal">digital solutions</strong>
        that simply, improve or help create your own digital products.
      </span>
    </span>
  </section>
</article>
