---
import SkillsCarousel from "./SkillsMarquee.astro";
---

<article
  class="h-screen flex flex-col justify-center gap-20 md:gap-20 items-center text-center"
>
  <section class="flex flex-col gap-8 md:gap-4 items-center">
    <h2 class="text-lg text-gray-500 w-full">
      Hi, I am <span class="text-textTeal font-bold">Gaurav Kumar Karki</span>
    </h2>
    <h1 class="text-5xl md:text-8xl font-semibold">A Software Engineer</h1>
    <p class="text-lg">
      I build <strong class="text-textTeal">digital solutions</strong>
      that simplify, improve or even help create your own digital products.
    </p>
  </section>
  <SkillsCarousel/>
</article>
